.graph-navbar {
    inline-size: 100%;
    block-size: 70px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 30px;
    box-sizing: border-box;
}

.logo {
    inline-size: 150px;
    block-size: 43px;
    background: #CCCCCC;
}

.navbar-end {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-buttons .custom-button {
    margin: 0;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}