.card {
  width: 360px;
  height: 448.09px;
  border-radius: 30px;
  padding: 20px 50px;
  
  
  background: #0000001A;
  box-shadow: 0px 4px 8px 0px #00000040;
  backdrop-filter: blur(4px);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 35px;
  
  box-sizing: border-box;
}