.navbar {
  inline-size: 100%;
  block-size: 70px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
}

.navbar-logo {
  width: 150px;
  height: 43px;
  background: #CCCCCC;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-button {
  margin: 0;
}