.card {
  width: 380px;
  height: fit-content;
  padding: 30px 50px;
  border-radius: 30px;
  
  
  background: #0000001A;
  box-shadow: 0px 4px 8px 0px #00000040;
  backdrop-filter: blur(4px);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
}